<nav class="bg-blue-600 shadow-md">
    <ul class="flex justify-center space-x-8 p-4">
        <li><a href="{% url 'index' %}" class="text-white hover:text-blue-200 font-medium px-3 py-2 rounded-md transition duration-300">Home</a></li>
        <li><a href="{% url 'contact' %}" class="text-white hover:text-blue-200 font-medium px-3 py-2 rounded-md transition duration-300">Contact</a></li>
        <li><a href="{% url 'about' %}" class="text-white hover:text-blue-200 font-medium px-3 py-2 rounded-md transition duration-300">About</a></li>
        <li><a href="{% url 'filters' %}" class="text-white hover:text-blue-200 font-medium px-3 py-2 rounded-md transition duration-300">Filters</a></li>
        <li><a href="{% url 'signup' %}" class="text-white hover:text-blue-200 font-medium px-3 py-2 rounded-md transition duration-300">sign up</a></li> 
        <li><a href="{% url 'login' %}" class="text-white hover:text-blue-200 font-medium px-3 py-2 rounded-md transition duration-300">login</a></li> 
        <li><a href="{% url 'blogs' %}" class="text-white hover:text-blue-200 font-medium px-3 py-2 rounded-md transition duration-300">blogs</a></li> 
    </ul>
</nav>